/* ==========================
   TABLET
========================== */

@media (max-width:991px){

    .hero-container,
    .about-container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .buttons,
    .social{
        justify-content:center;
    }

    .left h1{
        font-size:52px;
    }



/* ==========================
   MOBILE
========================== */

@media (max-width:768px){

    .navbar{
        padding:15px 20px;
    }

    .logo img{
        height:50px;
    }

    .join{
        display:none;
    }

    .menu-toggle{
        display:block;
        font-size:32px;
        color:#fff;
        cursor:pointer;
    }

    .nav-links{

        position:fixed;
        top:80px;
        left:-100%;

        width:100%;
        height:calc(100vh - 80px);

        background:#071a52;

        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;

        gap:30px;
        padding-top:40px;

        transition:.4s;
    }

    .nav-links.active{
        left:0;
    }

    .nav-links li{
        list-style:none;
    }

    .nav-links a{
        font-size:22px;
    }

    .hero-container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .hero-image img{
        width:90%;
        max-width:350px;
    }

    .left h1{
        font-size:42px;
    }

    .description{
        font-size:18px;
    }

    .buttons{
        flex-direction:column;
        align-items:center;
    }

    .about-container{
        grid-template-columns:1fr;
    }

    .about-image{
        order:-1;
    }

    .about-image img{
        width:90%;
        max-width:350px;
    }

}
