*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#071A52;
    color:#fff;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:fixed;
    width:100%;
    background:rgba(7,26,82,.95);
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:800;
    color:#D4AF37;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin:0 18px;
}

.navbar ul li a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
}

.navbar ul li a:hover{
    color:#D62828;
}

.join-btn{
    background:#D62828;
    color:#fff;
    text-decoration:none;
    padding:12px 28px;
    border-radius:30px;
    font-weight:600;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:linear-gradient(rgba(7,26,82,.88),rgba(7,26,82,.88)),
    url('https://images.unsplash.com/photo-1523580846011-d3a5bc25702b?auto=format&fit=crop&w=1600&q=80');
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:18px;
    letter-spacing:3px;
    color:#D4AF37;
    margin-bottom:20px;
}

.hero h2{
    font-size:64px;
    font-weight:800;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:15px;
}

.tagline{
    color:#D62828;
    font-size:26px;
    margin-bottom:35px;
}

.register{
    display:inline-block;
    padding:18px 45px;
    border-radius:50px;
    background:#D62828;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.register:hover{
    background:#D4AF37;
    color:#071A52;
}

@media(max-width:768px){

.navbar{
flex-direction:column;
}

.navbar ul{
margin:20px 0;
flex-direction:column;
text-align:center;
}

.navbar ul li{
margin:10px 0;
}

.hero h2{
font-size:42px;
}

.hero p{
font-size:18px;
}

}
